/* Main CSS */
:root {
    --primary-color: #ffffff;
    --secondary-color: #232946;
    --font-default: 'Poppins', sans-serif;
}

* {
    font-family: var(--font-default);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.section-gallery-page {
    background-color: var(--primary-color);
    min-height: 665px;
}
.new-row {
    display: flex;
    margin-bottom: 70px;
}
.box-primary {
    display: flex;
    background-color: var(--secondary-color);
    width: 470px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 5px 10px 30px #0000006b;
    margin-left: 30px;
}
.header-gallery-page {
    margin-top: 120px;
    margin-bottom: 30px;
    font-weight: 700;
    margin-left: 40px;
}
.text-header-box {
    color: var(--primary-color);
    font-weight: 700;
    margin-top: 40px;
    margin-left: 20px;
}
.text-paragraf-box {
    color: var(--primary-color);
    margin-top: 15px;
    font-size: 11px;
    margin-left: 20px;
}
.box-primary-side {
    position: relative;
}
.div-button {
    position: absolute;
    bottom: 20px;
}
.button-view-more {
    margin-top: 70px;
    width: 130px;
    border-radius: 20px;
    font-weight: 700;
    margin-left: 20px;
    transition: 0.5s;
}
.button-view-more:hover {
    margin-top: 65px;
}
.box-second {
    margin-left: 120px;
}
.header-gallery-page-2 {
    margin-top: 80px;
}
.section-contact-on-gallery {
    margin-top: 50px;
    min-height: 150px;
}
.image-siarankosong {
    border-radius: 20px 20px 20px 20px;
}
.modal-dialog {
    border-radius: 20px;
}

/* Android Version */
@media screen and (max-width: 420px) {
    .new-row {
        flex-wrap: wrap;
    }
    .box-primary {
        margin-left: 0px !important;
    }
    .box-second {
        margin-left: 0px !important;
        margin-top: 70px;
    }
    .investigation-box {
        font-size: 18px;
    }
}